@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Serif|Oswald|Raleway');

body, html {
  margin: 0px;
  padding: 0px;
}

/* TOP CONTENT */

.topimage {
  background: url('../images/placeholder.jpg');
  background-size: 100%;
  width: 100%;
  z-index: 0;
  min-height: 800px;
  object-fit: cover;
}

.top-container {
  position: relative;
  text-align: center;
}

.social-media-container {
  position: absolute;
  top: 7%;
  left: 92.5%;
  transform: translate(-50%, -50%);
}

.top-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

h1 {
  padding-top: 25px;
  font-family: 'Noto Serif', serif;
  font-size: 28pt;
  color: white;
}

h1, h5 {
  text-align: center;
}

/* BODY CONTENT */

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h5 {
  font-family: 'Raleway', sans-serif;
  color: #bcbcbc;
}

.container {
  padding-top: 70px;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.byline {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
}

p {
  font-family: 'Lora', serif;
}

.sub {
  text-transform:uppercase;
  font-weight: bold;
  font-size:20pt;
  font-family: "BentonSansCond", "Helvetica", sans-serif;
}

/* LINKS */

a:link {
  text-decoration: none;
}
a:hover {
  color: #9999ff;
}

a:visited {
  color: inherit;
}

/* PHOTOS */

#vertical {
  width:32.5%;
  float:right;
  padding-left:25px;
}

.caption {
  font-family: "Helvetica", sans-serif;
  font-size: 8pt;
  font-weight: bold;
  text-align: left;
  padding-top: 5px;
  color: #707070;
  text-align: center;
}

/* BAR CHART */

.svg-container {
  position: relative;
  width: 50%;
  height: auto;
  overflow: visible;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding: 5px;
  font: 10pt sans-serif;
  background: grey;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

#tooltip {
  padding: 5px;
  margin: 0px;
  color: white;
}

/* SCROLLYTELLING STUFF */

.scrolly {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sticky-graphics {
  z-index: -100;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 100vh;
  flex: 1 0 50%;
  text-align: center;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

iframe {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}

.sticky-container {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top:20px;
  display: flex;
  flex-direction: row;
}

.sticky-content {
  color: #42f486;
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 0 40%;
  text-align: left;
  font-weight: bold;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 275px;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 480px) {
  /* For mobile phones: */

  p {
    font-size: 20pt;
    color: black;
  }

}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */

  .sticky-container {
    flex-wrap: wrap;
  }

  .sticky-content {
    flex: 1 0 100%;
    color: black;
    padding-left: 125px;
    padding-right: 125px;
    pointer-events: none;
  }

  .sticky-graphics {
    flex: 1 0 100%;
  }

  /* #vertical {
    width: 100%;
    height: auto;
    right: -25px;
    float:none;
    overflow: visible; */
  }
}

@media (min-width: 481px) {
  #vertical {
    width: 32.5%;
    height: auto;
    float: right;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  #barchart {
    width:60%;
    height:auto;
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  #vertical {
    width: 100%;
    height:auto;
    float: none;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
  #barchart {
    width:100%;
    height:auto;
    float: none;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
}
